NEXT_PUBLIC_CALCOM_USERNAME=
NEXT_PUBLIC_CALCOM_ORIGIN=https://cal.com
NEXT_PUBLIC_CALCOM_CONSULTATION_EVENT_SLUG=
NEXT_PUBLIC_CALCOM_ODPS_CONSULTATION_EVENT_SLUG=
NEXT_PUBLIC_CALCOM_ODPS_MAINTAINER_EVENT_SLUG=
NEXT_PUBLIC_INSIGHTS_API_URL=
CALCOM_API_KEY=
CALCOM_API_BASE_URL=https://api.cal.com/v2
CALCOM_WEBHOOK_SECRET=
